// Search form
.search-form {
  @extend .form-inline;
}
.search-form label {
  font-weight: normal;
  @extend .form-group;
}
.search-form .search-field {
  @extend .form-control;
}
.search-form .search-submit {
  @extend .btn;
  @extend .btn-default;
}

.nav-top-bar-container{
  // Search form
  .search-form {
    @extend .form-inline;
    font-size:0;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }
  .search-form label {
    font-weight: normal;
    @extend .form-group;
    margin:0;
    flex-grow: 2;
  }
  .search-form .search-field {
    @extend .form-control;
    height: 28px;
    border-radius: 2px 0 0 2px;
    // width:90px;
    width:100%;
    transition: ease-in-out, width .35s ease-in-out;
    &:focus{
      // width: 230px;
      border-color: #ccc;
    }
  }
  .search-form .search-submit {
    @extend .btn;
    @extend .btn-default;
    height:28px;
    border-radius: 0 2px 2px 0;
    padding:0 10px 0px 10px;
    border-left:0px;
  }
}