// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #0084c5;
$brand-hover:           darken($brand-primary,5);

//** Padding between columns. Gets divided in half for the left and right.
$grid-gutter-width:     15px;

// statistica.io
$statistica-primary-1:          #54b948;
$statistica-primary-2:          #7f7f7f;
$statistica-primary-3:          #46b5eb;

$statistica-secondary-1:        #00386b;
$statistica-secondary-2:        #71c6c1;
$statistica-secondary-3:        #f2af00;
$statistica-secondary-4:        #f27d00;
$statistica-secondary-5:        #6e2585;
