.footer-wide{
    width:100%;
    background-color: $brand-primary;
    nav{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
        padding:1rem 0;
        a[href="#"]{
            pointer-events: none;
        }
        >ul,>ol,.widget>ul,.widget>ol{
            >li{
                flex-grow: 1;
                padding: 0 0.5em 0.5em 0.5em;
            }
        }
        ul,ol{
            list-style: none;
            padding-left:0;
            display: flex;
            align-items: flex-start;
            justify-content: space-around;
            flex-wrap: wrap;
            flex-grow: 2;
            li{
                &,&>a{
                    color: #bde3f5;
                    text-decoration: none;
                    font-weight: bold;
                }
                &:hover{
                    &,>a{
                        color:#ffffff;
                    }
                }
                >ul,>ol{
                    display: initial;
                    li{
                        &,>a{
                            font-weight: normal;
                            color:#a5e2ff;
                            &:hover{
                                color: #ffffff;
                            }
                        }
                        >a{
                            display: block;
                        }
                    }
                }
            }
        }
        .sidebar-footer-nav-right-container{
            // margin-left: auto;
        }
    }
}