.header-logos{
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: space-between;
    >:first-child,>.nevershow:first-child+*{
        margin-right:auto;
    }
    >:last-child{
        margin-left:auto;
    }
}
.btn-menu-show-1{
    color: #23282d !important;
    text-decoration: none;
    font-size: 2em;
    cursor: pointer;
      @media (min-width: $screen-xs-min){
        display: none;
      }
}