.header-logos{
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: space-between;
    >:first-child,>.nevershow:first-child+*{
        margin-right:auto;
    }
    >:last-child{
        margin-left:auto;
    }
}
.btn-menu-show-1{
    color: #23282d !important;
    text-decoration: none;
    font-size: 1.7em;
    padding: 0.4rem 0.5rem 0rem 0.5rem;
    cursor: pointer;
    @media (min-width: $screen-xs-min) and (min-height: $screen-xs-min){
        display: none;
    }
}