.nav-top-bar-container{
  background-color: $brand-primary;
  box-shadow: 0 9px 17px -10px #7d7d7d;
}
.nav-top-bar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    >nav{
        flex-grow: 2;
    }
}
.nav-top-bar-right{
    margin-left:auto;
    padding: 1rem;
    width:100%;
    @media (min-width: $screen-md-min){
        width:initial;
    }
}

.menu-bar {
  font-family:Calibri;
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  align-content: space-around;
  flex-direction: column;
  @media (min-width: $screen-xs-min){
      flex-direction: row;
      & li{
          width:auto;
          >a{
            text-align: center;
          }
          >ul{

              position: absolute;
          }
      }
  }
  a[href="#"]{
      cursor:initial;
  }
  a{
      display: block;
  }
  &,
  & ul {
    list-style: none;
    padding-left:0;
    margin-bottom:0;
  }
  >li {
      width:100%;
    // cursor:pointer;
    &,&>a{
        color:#ffffff;
        font-size:1.1em;
        &,&:hover{
            text-decoration: none;
        }
    }
    display: block;
    font-weight:bold;
    &>a{
        padding:1rem;
    }
    &.menu-item-has-children {
      &>.sub-menu{
        cursor:auto;
        font-weight:normal;
        // margin-top:1rem;
        // margin-left:-1rem;
        padding:1.3rem;
        display:none;
        // display:flex;
        flex-direction: row;
        flex-wrap:wrap;
        position: static;
        background-color: $brand-hover;
        overflow:hidden;
        z-index:100;
        >li{
            &,&>a{
                color:#ffffff;
                font-weight:bold;
            }
            &>a{
                text-decoration: underline;
            }
          margin:1rem;
          >ul{
            font-weight:normal;
            padding-left:0;
            a{
              text-decoration:none;
              color:inherit;
              display:block;
              &:hover{
                text-decoration:underline;
              }
            }
          }
        }
      }
      &:hover {
        background-color: $brand-hover;
        >ul,
        ol {
          display: flex;
        }
      }
    }
  }
}