.page-header{
    margin-top: 0px;
    >h1{
        margin-top: 0px;
        padding-top: 0px;
    }
}
.article-separator:not(:last-child){
    border-bottom: solid 1px #b7b7b7;
}
.article-footer{
    padding-top: 0.5em;
}
footer .icon-tag{
    font-size: 16px;
    line-height: 16px;
    vertical-align: middle;
    color:#FF5722;
}
.tags{
    >a[rel=tag]{
        padding: 0.1em 0.7em;
        display: inline-block;
        background: #E4E4E4;
        border-radius: 100px;
        text-decoration: none;
        margin-top: 0.5em;
        &:hover{
            text-decoration: none;
            background: #0084c5;
            // background: #555;
            color: #fff;
        }
    }
}